<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a
      jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Courses</h2>
      <p>We have awesome courses! Have a look at them and start learning right away!</p>
      <p><a class="btn btn-secondary" [routerLink]="['/', 'courses']" role="button">View courses &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Categories</h2>
      <p>We organize courses by categories. Find what you are looking for!</p>
      <p><a class="btn btn-secondary" [routerLink]="['/', 'categories']" role="button">View categories &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Reporting</h2>
      <p>Have a look at our awesome reporting!</p>
      <p><a class="btn btn-secondary" [routerLink]="['/', 'reporting']" role="button">View reports &raquo;</a></p>
    </div>
  </div>

  <hr>
</div>
