<div *ngIf="course">
  <div class="course-title">
    <h1>{{course.title}}</h1>
    <h2>{{course.subtitle}}</h2>
  </div>

  <div class="course-details">
    <ul>
      <li><span class="font-weight-bold">Category: </span>{{course.category.name}}</li>
      <li><span class="font-weight-bold">Language: </span>{{course.language}}</li>
      <li><span class="font-weight-bold">Current Price: </span>${{getCurrentPrice() | number:'1.2-2'}}
        (-{{course.discount}}% discount)
      </li>
      <li><span>Regular price: </span>${{course.price}}</li>
      <li><span class="font-weight-bold">Include certificate: </span>{{course.isCertificateIncluded ? 'Yes' : '-'}}</li>
    </ul>
  </div>

  <div class="course-image">
    <img [src]="course.posterImgUrl" [alt]="course.title">
  </div>

  <div class="course-information">
    <ul>
      <li><span class="font-weight-bold">Publish at: </span>{{course.publishAt | date}}</li>
      <li><span class="font-weight-bold">Created: </span>{{course.created | date}}</li>
      <li><span class="font-weight-bold">Last updated: </span>{{course.lastUpdated | date}}</li>
    </ul>
  </div>

  <div class="course-description">
    <p>{{course.description}}</p>
  </div>
</div>
